.body-components {
  height: auto;
  background-color: #0e0e0e;
  padding: 34px 24px;
}

.navbar {
  padding: 44px 0px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
}
.root-layout-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.header-logo {
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.4s;
}
.header-logo:hover {
  color: rgb(104, 85, 224);
}
.sec-name {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.crud-button {
  width: 100%;
  border: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: fixed;
  transition: 0.4s;
}
.crud-button:hover {
  border-color: #fff;
  background-color: #00bfff;
}
.delete-button {
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 5px;
  background-color: #cc0000;
}
.delete-button:hover {
  background-color: #ff0800;
}
.edit-button {
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 5px;
  background-color: #018749;
}
.edit-button:hover {
  background-color: #1db954;
}
.posts-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  height: 100%;
}
.posts-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 18px;
}

.posts-page {
  padding: 14px 8px;
  height: auto;
  position: relative;
  width: 100%;
}

.posts {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 75% 25%;
}
.posts-crud-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.comments-page {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 14px 24px;
  width: 100%;
  border-left: 1px solid #4ea8de;
}
.login-page {
  width: 100%;
  padding: 180px 0;
  height: auto;
  background-color: #263043;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-in {
  width: auto;
  display: flex;
  flex-direction: column;
}
.main-page {
  width: 100%;
  background: #262626;
  padding: 0px 6px;
  border-radius: 14px;
}
.main-page-in {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 25% 75%;
}

.comments-block {
  margin-top: 14px;
}
.comment {
  text-align: left;
  border: 1px solid #fff;
  padding: 14px 14px;
  border-radius: 10px;
  margin-top: 14px;
  background-color: #333333;
}
.comment p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Poppins;
}
.comment-author {
  display: flex;
  align-items: center;
  gap: 14px;
}
.comment-author img {
  border-radius: 100%;
}
.comment-author h5 {
  color: #4ea8de;
  font-weight: 600;
  font-size: 16px;
  row-gap: 32px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Poppins;
}
.comment-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 14px;
}
.comment-bottom input {
  border: none;
  height: auto;
  background-color: #fff;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0;
  font-family: Poppins;
  padding: 4px 14px;
  /* color:; */
  width: 100%;
}
.comment-buttons {
  display: flex;
  /* justify-content: e; */
  align-items: center;
  /* gap: 14px; */
}
.comment-buttons button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 8px 8px;
  border: none;
  background: fixed;
}
.comment-buttons button:hover {
}

.add-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 14px;
  width: 100%;
  bottom: 32px;
  padding-right: 34px;
}
.add-comment input {
  border: none;
  width: 90%;
  height: auto;
  color: #fff;
  background-color: #333333;
  padding: 14px 16px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
  font-family: Poppins;
}
.add-comment button {
  height: auto;
  max-width: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 111, 159);
  border: none;
  border-radius: 8px;
  padding: 12px 12px;
  font-weight: 400;
  font-family: Poppins;
  cursor: pointer;
  color: #fff;
}
.select-posts {
  text-align: center;
  color: #4ea8de;
  font-weight: 600;
  font-size: 18px;
  row-gap: 32px;
  letter-spacing: 0%;
  font-family: Poppins;
}
.crudPosts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  transition: 1s;
}
.crudPosts input {
  padding: 4px 8px;
  font-family: Poppins;
  width: 100%;
  height: 32px;
  border: none;
  margin-top: 0;
}
.crudPosts button {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 7px 8px;
}
.posts-crud-buttons {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  gap: 14px;
  padding: 0px 8px;
  font-weight: 400;
  font-family: Poppins;
  cursor: pointer;
  color: #fff;
}
.loading {
  width: 100%;
  position: absolute;
  color: #fff;
  font-family: Poppins;
  left: 50%;
  top: 50%;
}
/* .loading::after {
  display: inline-block;
  animation: ellipsis 1.5s infinite;
  content: "Loading";
  width: 100px;
  left: 50%;
  top: 50%;
  text-align: left;
  position: absolute;
  color: #fff;
  background-color: fixed;
} */
.list-item {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  max-height: 30px;
  align-items: center;
}
.button-add,
.button-delete,
.button-edit {
  width: auto;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  border-radius: 100%;
  transition: 0.4s;
}
.button-edit {
  color: #e2d029;
}
.button-delete {
  color: red;
}
.button-add {
  color: green;
}
button:focus,
input:focus {
  outline: none;
}

.list {
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  width: auto;
  background: none;
  border: none;
  color: #ccc;
  text-overflow: ellipsis;
  padding-left: 8px;
  margin-right: 8px;
}
