* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-width: 100%;
  height: auto;
  background-color: #0e0e0e;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
  padding: 0px 100px 0px 100px;
}
/* :root {
  --color-1: var(--white, #fff);
  --color-2: var(--blue-bold, #162441);
  --color-3: var(--blue-wes, #73819c);
  --background: var(--red, #f03050);
  --background-2: var(--Bg-2, #f5f5f7);
  --background-3: var(--Bg-f1, #fafafa);
} */
