body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 700px;
  min-width: 550px;
}
.modal-content textarea {
  border: none;
  height: auto;
  background-color: #fff;
  font-weight: 400;
  font-size: 12px;
  margin-top: 4px;
  font-family: Poppins;
  padding: 4px 14px;
  width: 100%;
}
.modal-content h5 {
  color: #4ea8de;
  font-weight: 600;
  font-size: 14px;
  row-gap: 32px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Poppins;
}
.modal-buttons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}
.modal-buttons button {
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: none;
  font-size: 12px;
  color: #fff;
  font-family: "Poppins";
  cursor: pointer;
}
.modal-buttons :nth-child(2) {
  background-color: #e20303;
}
.modal-buttons :nth-child(1) {
  background-color: #00c4ff;
  font-size: 12px;
  color: #fff;
  font-family: "Poppins";
}
.edit-buttons:nth-child(2) {
  background-color: forestgreen;
}
